[run]
branch = True
source =
    plumbum
omit =
    *ipython*.py
    *__main__.py
    *_windows.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:


