.project
.pydevproject
.idea
*.pyc
__pycache__
.settings/
/dist
/plumbum.egg-info
/plumbum/version.py
/build
*.class
*.ropeproject
*.swp
*~
*.spyder*
*.cache/*
tests/.cache/*
.coverage
*,cover
*htmlcov
*.po.new
*.pot
/*venv*
*.mypy_cache
.eggs
/plumbum/version.py
/tests/nohup.out
