include LICENSE
include README.rst
include CHANGELOG.rst
include translations.py
include tests/not-in-path/dummy-executable
recursive-include plumbum *.mo *.po *.py py.typed
recursive-include tests *.bash *.py *.txt
