[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

paramiko = {version = "*", markers="python_version >= '2.7'"}


[dev-packages]

pytest = "*"
sphinx = "*"
