[build-system]
requires = [
    "setuptools @ git+https://github.com/pypa/setuptools@experimental/support-pyproject",
    "wheel",
    "setuptools_scm[toml]>=3.4.3"
]
build-backend = "setuptools.build_meta"


[project]
name = "plumbum"
description = "Plumbum: shell combinators library"
readme = "README.rst"
authors = [{ name="Tomer Filiba", email="tomerfiliba@gmail.com" }]
license = { file="LICENSE" }
requires-python = ">=3.6"
dynamic = ["version"]
dependencies = [
    "pywin32; platform_system=='Windows' and platform_python_implementation!='PyPy'",
]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "License :: OSI Approved :: MIT License",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: POSIX",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Software Development :: Build Tools",
    "Topic :: System :: Systems Administration",
]
keywords = [
    "path",
    "local",
    "remote",
    "ssh",
    "shell",
    "pipe",
    "popen",
    "process",
    "execution",
    "color",
    "cli",
]

[project.optional-dependencies]
dev = [
    "paramiko",
    "psutil",
    "pytest>=6.0",
    "pytest-cov",
    "pytest-mock",
    "pytest-timeout",
]
docs = [
    "sphinx>=4.0.0",
    "sphinx-rtd-theme>=1.0.0",
]
ssh = [
    "paramiko",
]

[tool.setuptools]
platforms = ["POSIX", "Windows"]

[tool.setuptools.packages.find]
include = ["plumbum"]

[tool.setuptools.package-data]
"plumbum.cli" = ["i18n/*/LC_MESSAGES/*.mo"]


[tool.setuptools_scm]
write_to = "plumbum/version.py"


[tool.mypy]
files = ["plumbum"]
python_version = "3.6"
warn_unused_configs = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = ["IPython.*", "pywintypes.*", "win32con.*", "win32file.*", "PIL.*", "plumbum.cmd.*", "ipywidgets.*", "traitlets.*", "plumbum.version"]
ignore_missing_imports = true


[tool.pytest.ini_options]
minversion = "6.0"
addopts = ["-ra", "--cov-config=setup.cfg", "--strict-markers", "--strict-config"]
norecursedirs = ["examples", "experiments"]
filterwarnings = [
  "always"
]
log_cli_level = "info"
required_plugins = ["pytest-timeout", "pytest-mock"]
timeout = 300
optional_tests = """
  ssh: requires self ssh access to run
  sudo: requires sudo access to run
"""

[tool.isort]
profile = "black"

[tool.check-manifest]
ignore = [
  ".*",
  "docs/**",
  "examples/*",
  "experiments/*",
  "conda.recipe/*",
  "CONTRIBUTING.rst",
]

[tool.pycln]
all = true


[tool.pylint]
master.py-version = "3.6"
master.jobs = "0"
reports.output-format = "colorized"
similarities.ignore-imports = "yes"
messages_control.enable = [
  "useless-suppression",
]
messages_control.disable = [
  "arguments-differ", # TODO: investigate
  "attribute-defined-outside-init", # TODO: investigate
  "broad-except", # TODO: investigate
  "consider-using-with", # TODO: should be handled
  "cyclic-import",
  "duplicate-code",  # TODO: check
  "fixme",
  "import-error",
  "import-outside-toplevel",  # TODO: see if this can be limited to certain imports
  "invalid-name",
  "line-too-long",
  "missing-class-docstring",
  "missing-function-docstring",
  "missing-module-docstring",
  "no-member",
  #"non-parent-init-called", # TODO: should be looked at
  "protected-access",
  "too-few-public-methods",
  "too-many-arguments",
  "too-many-branches",
  "too-many-function-args",
  "too-many-instance-attributes",
  "too-many-lines",
  "too-many-locals",
  "too-many-nested-blocks",
  "too-many-public-methods",
  "too-many-return-statements",
  "too-many-statements",
  "unidiomatic-typecheck", # TODO: might be able to remove
]
